.div_menu{
  background-color: black;
  /* color: white; */
}
.menu{
  color: white;
}
.slider_div{
  text-indent: 50px
}
.footer{
  text-align: center;
  background-color: black;
  color: white;
}
.footer-alamat{
  text-align: center;
  background-color: black;
  color: white;
}
